{% extends "index.html" %}
{% block main_content %}

    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">{{ attr.name }}</h1>
        <p><b>Genre:</b> {{ attr.classifications[0].genre.name }} / {{ attr.classifications[0].subGenre.name }}</p>
        <div class="btn-group">
        {% if 'twitter' in attr.externalLinks %}
        <a class="btn btn-primary" href="{{ attr.externalLinks.twitter[0].url }}" role="button">Twitter &raquo;</a>
        {% endif %}
        {% if 'facebook' in attr.externalLinks %}
        <a class="btn btn-primary" href="{{ attr.externalLinks.facebook[0].url }}" role="button">Facebook &raquo;</a>
        {% endif %}
        <a class="btn btn-primary" href="{{ attr.url }}" role="button">TicketMaster &raquo;</a>
        </div>
      </div>
    </div>

    {% for ev in events %}
        <div class="container">
          <div class="row">
            <div class="col-md-3">
              {% if 'seatmap' in ev %}
                <img src="{{ ev.seatmap.staticUrl }}" class="img-rounded" alt="Cinque Terre" width="250" height="200"/>
              {% else %}
                <img src="{{ ev.images[0].url }}" class="img-rounded" alt="Cinque Terre" width="250" height="200"/>
              {% endif %}
            </div>
            <div class="col-md-6">
                <h2>{{ ev.name }}</h2>
                <p><b>Location:</b> {{ ev.dates.timezone }}</p>
                <p><b>Date:</b> {{ ev.dates.start.localDate }}</p>
                <p><b>Public Sales:</b> {{ ev.sales.public.startDateTime }} - {{ ev.sales.public.endDateTime }}</p>
              {% if 'priceRanges' in ev %}
                <p><b>Ticket Price Range:</b> {{ ev.priceRanges[0].currency }} {{ ev.priceRanges[0].min }} - {{ ev.priceRanges[0].max }}</p>
              {% endif %}
            </div>
          </div>

          <hr>
        </div>
    {% endfor %}

    <br>
    <hr>
{% endblock %}
