{% extends "index.html" %}
{% block script %}
<script>
    function search_attractions() {
        var frm = $('attraction_search');
        $.ajax({
            type: frm.attr('method'),
            url: frm.attr('action'),
            data: frm.serialize(),
            success: function (data) {
                alert('ok');
            }
        });
    }

</script>
{% endblock %}
{% block main_content %}
      <h1>Welcome to Group.ie!</h1>

      <form id="attraction_search" method="POST" action="/attractions">
        {{ form.csrf_token }}
        {{ form.keyword.label }}: {{ form.keyword(onchange="search_attractions()", size=100) }}<br>
      </form>
      <br>
      <hr>
{% endblock %}
